<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.walky.walkys">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <application
        android:name="com.walky.utils.PrefsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".activities.ChangePasswordActivity"></activity>
        <activity android:name=".activities.AddDogActivity" />
        <activity android:name=".activities.InviteActivity" />
        <activity android:name=".activities.CreateGroupActivity" />
        <activity android:name=".activities.PetPassActivity" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activities.FollowAndFollowingActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.FollowingListActivity" />
        <activity android:name=".activities.ProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.PetProfileActivity" />
        <activity android:name=".activities.DetailActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name="com.walky.walker.activities.ProfileActivity" />
        <activity android:name="com.walky.walker.activities.MyCommissionActivity" />
        <activity android:name="com.walky.walker.activities.UpComingActivity" />
        <activity android:name="com.walky.walker.activities.MyRequestActivity" />
        <activity android:name=".activities.SuccessActivity" />
        <activity android:name=".activities.NewPostActivity" />
        <activity android:name=".activities.UserHome" />
        <activity android:name=".activities.SignUpActivity2" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name="com.walky.common.ui.login.LoginActivity" />

        <service android:name="com.walky.services.FFMpegService" />

        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>